@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Jost&family=Poppins:wght@400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Readex+Pro:wght@160..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --theme-grad-color1: linear-gradient(115deg, #f97794, #623aa2);
  --theme-grad-color2: linear-gradient(115deg, #ff512f, #dd2476);
  --theme-grad-color3: linear-gradient(115deg, #00c3ff, #ffff1c);
  --theme-grad-color4: linear-gradient(115deg, #3cc5d7, #47d794);
  --theme-grad-color5: linear-gradient(115deg, #5634b5, #a80701);
  --theme-dark-grad: linear-gradient(115deg, #000000, #222222);
  --theme-light-grad: linear-gradient(160deg, #fff, #eee);
  --dark-theme: #000;
  --dark-shade1: #111;
  --dark-shade2: #222;
  --dark-shade3: #444;
  --light-theme: #FFF;
  --light-shade1: #eee;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(145deg, rgba(0,0,0,0.4), #000),url("../images/landingBg/a.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  /* font-family: "Nunito Sans", sans-serif; */
  overflow-y: hidden;
}

header {
  /* background-color: red; */
  width: 100%;
  height: auto;
  padding: 20px 20px;
  display: flex;
  align-items: center;
}

header .left {
  width: 40%;
  height: auto;
  /* background: yellow; */
}

header .left .icon {
  padding: 14px 12px;
  width: 100px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

header .right {
  height: auto;
  width: 60%;
  /* background: yellow; */
}

header .right .desktopmenu {
  display: none;
}


header .right .mobile_menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 10px;
}

.mobile_menu .icon {
  height: auto;
  width: auto;
  position: relative;
}

.mobile_menu .svg_icon {
  padding: 22px;
  width: 10px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: comeupanime2 0.3s ease-in forwards;
  animation-delay: var(--delay);
  opacity: 0;
}

.mobile_menu .svg_icon svg {
  height: 60%;
  width: 60%;
  position: absolute;
  stroke: var(--light-theme);
  stroke-width: 2.5;
}

main {
  height: 100vh;
  width: 100%;
  /* background: teal; */
  padding: 100px 0px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

main section {
  height: auto;
  width: 100%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
main #one {
  padding: 0px 20px 80px 20px;
}

main #one .txts {
  /* background: orange; */
  width: 100%;
  height: auto;
}
#one .txts .main_txt {
  height: auto;
  width: auto;
  text-align: center;
}

.main_txt p {
  font-size: 2rem;
  font-weight: 500;
  color: #eee;
  text-align: center;
  display: inline-block;
  margin-bottom: 6px;
  margin-right: 4px;
}

.main_txt p {
  animation: comeupanime 0.3s ease-in forwards;
  animation-delay: var(--delay);
  opacity: 0;
}

@keyframes comeupanime {
  0% {
    opacity: 0.01;
    transform: translateY(10px) scale(1.08);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes comeupanime2 {
  0% {
    opacity: 0.01;
    transform: translateY(-10px) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.main_txt p.exp {
  padding: 4px 18px;
  border-radius: 30px;
  background: var(--theme-grad-color4);
  color: #eee;
  font-size: 1.3rem;
  margin-right: 4px;
}

#one .txts .sub_txt {
  height: auto;
  width: auto;
  padding: 20px;
}

.sub_txt p {
  font-size: 0.82rem;
  color: lightgrey;
  font-weight: 500;
  text-align: center;
  animation: comeupanime 0.3s ease-in forwards;
  animation-delay: var(--delay);
  opacity: 0;
}

/* section two */
main #two {
  padding: 10px 10px 150px 10px;
  background: var(--theme-light-grad);
  height: auto;
  width: 100%;
}

#two .head {
  width: 100%;
  /* background: red; */
  height: auto;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#two .head .section_title_txt {
  /* background: green; */
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_title_txt p {
  font-size: 1.7rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 650;
  color: var(--dark-shade3);
  letter-spacing: 0.9px;
  border-bottom: 1px solid rgba(239 239 239);
  padding: 0px 0px 14px 0px;
}
#two .head .section_description_txt {
  /* background: yellow; */
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 0px 9px;
  justify-content: center;
  align-items: center;
}

.section_description_txt p {
  text-align: center;
  font-size: 0.72rem;
  font-weight: 500;
  color: darkgrey;
}

#two .body {
  width: 100%;
  height: auto;
  /* background: green; */
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#two .body .grid_layout_columns {
  columns: 2;
  position: relative;
  overflow: hidden;
}

.grid_layout_columns .img_container {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.grid_layout_columns .img_container:hover {
  transform: scale(1.03);
}

.grid_layout_columns .img_container:has(~:hover)
{
  transform: scale(0.9);
}

.grid_layout_columns .img_container.not-mobile, .grid_layout_columns.not-mobile {
  display: none;
}

.img_container img {
  max-width: 100%;
  object-fit: cover;
  pointer-events: none;
  border-radius: 10px;
  /* animation: scaleanime 2s ease-in-out infinite forwards; */
  animation-delay: var(--delay);
}

@keyframes scaleanime {
  0% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

#two .body .express_idea {
  width: 100%;
  /* background: red; */
  height: auto;
  padding: 40px 4px;
  border-top: 1px solid rgba(239 239 239);
}
.express_idea ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: auto;
  gap: 30px;
}

.express_idea ul li {
  width: 100%;
  height: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.express_idea ul li .head_txt {
  height: auto;
  width: 100%;
  /* background: yellowgreen; */
}

.express_idea ul li .head_txt p {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--dark-shade3);
  letter-spacing: 0.9px;
}
.express_idea ul li .body_txt {
  height: auto;
  width: 100%;
  /* background: yellowgreen; */
  padding-left: 12px;
}
.express_idea ul li .body_txt p {
  font-size: 0.82rem;
  color: darkgray;
}

.overlay-effect {
  position: absolute;
  z-index: 3;
  background: linear-gradient(145deg, transparent, #333);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: none;
  align-items: flex-end;
  padding: 10px 10px 30px 10px ;
}

.overlay-effect p {
  color: var(--light-theme);
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
}

.content-to-animate {
  opacity: 0;
	transition: all 0.5s ease-out;
	transform: translateX(-10%);
}

.content-to-animate.animate {
  opacity: 1;
  transform: translateX(0);
}

.get_started {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}

.get_started button {
  padding: 12px 20px;
  width: 150px;
  border-radius: 30px;
  background: var(--theme-grad-color4);
  border: none;
  opacity: 0;
  animation: comeupanime 0.3s ease-in forwards;
  animation-delay: var(--delay);
  cursor: pointer;
  transition: background 0.6s ease-in;
}

.get_started button span {
  color: var(--light-theme);
  font-family: 'Poppins', sans-serif;
  font-weight: 550;
  font-size: 0.95rem;
}

.get_started button:hover {
  background: var(--light-theme);
  transform: scale(1.05);
}

.get_started button:hover span {
  background: var(--theme-grad-color4);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.color-out {
  background: var(--theme-grad-color4);
  color: var(--light-theme);
  padding: 0px 5px;
}
.color-out.bordered {
  border-radius: 8px;
}

.t_platform_container {
  flex-direction: row !important;
  flex-wrap: wrap;
}

.t_platform_container .platform  {
  width: fit-content;
  /* background: orangered; */
  height: auto;
  margin-bottom: 6px;
}

.platform button {
  width: 100%;
  display: flex;
  height: auto;
  padding: 3px 22px;
  background: var(--light-theme);
  border-radius: 21px;
  align-items: center;
  border: 1px solid var(--light-shade1);
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.platform button:hover {
  transform: scale(1.05);
  box-shadow: 0px 3px 10px rgba(8 8 8 / 12%);
}

.platform button .platform_icon {
  height: auto;
  width: 10px;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.platform_icon svg {
  height: 70%;
  width: 70%;
  position: absolute;
}

.platform button .platform_name {
  /* background: red; */
  display: flex;
  align-items: center;
}

.platform_name span {
  font-size: 1rem;
  font-weight: 450;
  color: var(--dark-shade3);
}

.express_idea ul li p.dwn_txt {
  font-size: 2.1rem;
  margin-bottom: 20px;
}
#two .body .express_idea.dwn_sec {border-top: none}

@media (min-width: 480px){}

@media (min-width: 600px){}

@media (min-width: 868px) {
  body {
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: initial;
    overflow-y: auto;
    background: linear-gradient(145deg, rgba(0,0,0,0.4), #000),url("../images/landingBg/b.jpg");
    background-size: cover;
    animation: bgpos 0.8s ease-in forwards;
  }
  @keyframes bgpos {
    0% {
      background-position: 50% -300%;
    }
    50% {
      background-position: 0% 200%;
    }
    100% {
      background-position: left;
    }
  }
  header {
    padding: 40px 20px;
  }
  header .left {
    width: 20%;
  }
  header .right {
    width: 80%;
    display: flex;
  }
  .mobile_menu .svg_icon {
    backdrop-filter: blur(18px);
    background: rgba(255, 255, 255, .08);
    cursor: pointer;
  }
  header .right .desktopmenu {
    /* display: none; */
    display: flex;
    width: 80%;
    height: auto;
    justify-content: center;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, .10);
    border-radius: 30px;
    padding: 12px 10px;
    animation: comeupanime2 0.3s ease-in forwards;
    animation-delay: var(--delay);
    opacity: 0;
  }
  .desktopmenu ul {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .desktopmenu ul .first, .desktopmenu ul .last {
    display: flex;
    height: auto;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .desktopmenu ul .first {
    width: 70%;
    border-right: 1px solid rgba(255, 255, 255, .20);
  }
  .desktopmenu ul .last {
    width: 30%;
  }
  .desktopmenu ul li {
    list-style: none;
    color: #eee;
    font-size: 0.95rem;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 22px;
  }

  .desktopmenu ul li.active {
    background: var(--theme-grad-color4);
  }

  .desktopmenu ul li:hover
  {
    background: rgba(255, 255, 255, .10);
  }

  .update-notification-ball {
    padding: 5px;
    width: 3px;
    background: red;
    display: block;
    position: absolute;
    right: 0px;
    border-radius: 50%;
    top: 0;
  }

  .desktopmenu ul .first li {
    animation: comeupanime 0.3s ease-in forwards;
    animation-delay: var(--delay);
    opacity: 0;
  }

  .desktopmenu ul .last li {
    animation: comeupanime2 0.3s ease-in forwards;
    animation-delay: var(--delay);
    opacity: 0;
  }

  /* Mobile menu */
  header .right .mobile_menu {
    display: flex;
    width: 20%;
  }
  main {
    overflow-y: initial;
    scroll-snap-type: initial;
    height: auto;
    padding: 50px 0px;
  }
  main #one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main #one .txts {
    width: 500px;
  }
  #one .txts .sub_txt {
    padding: 20px 40px;
  }
  .get_started {
    width: 500px;
  }
}

@media (min-width: 992px) {}

@media (min-width: 1024px) {}

@media (min-width: 1208px) {
  body {
    background-position: bottom;
  }
  .desktopmenu ul li {
    font-size: 1.3rem;
    font-weight: 500;
  }
  main {
    padding: 100px 0px;
  }
  main #one {
    padding: 0px 20px 150px 20px;
  }
  main #one .txts {
    width: 600px;
  }
  #one .txts .main_txt {
    line-height: 1.7;
  }
  .main_txt p {
    font-size: 2.5rem;
  }
  .main_txt p.exp {
    font-size: 1.6rem;
  }
  #one .txts .sub_txt {
    padding: 20px 80px;
  }
  .sub_txt p {
    font-size: 0.92rem;
  }
  .get_started {
    width: 600px;
  }
}

@media (min-width: 1536px) {
  main #one {
    padding: 0px 20px 180px 20px;
  }
  main #one .txts {
    width: 900px;
  }
  .main_txt p {
    font-size: 4rem;
    font-weight: 600;
  }
  .main_txt p.exp {
    font-size: 2rem;
  }
  .sub_txt p {
    font-size: 1.1rem;
  }

  .section_title_txt p {
    font-size: 3rem;
  }
  
  .section_description_txt p {
    font-size: 1rem;
  }
  #two .body {
    flex-direction: row;
    justify-content: center;
  }

  #two .body .grid_layout_columns {
    columns: 3;
    padding: 30px 80px;
    width: 50%;
  }

  .grid_layout_columns .img_container {
    margin-bottom: 10px;
  }
  .grid_layout_columns .img_container.not-mobile, .grid_layout_columns.not-mobile {
    display: block;
  }
  
  #two .body .express_idea {
    width: 40%;
    border-top: none;
  }

  .express_idea ul li .head_txt p {
    font-size: 2rem;
  }

  .express_idea ul li .body_txt p {
    font-size: 1.05rem;
  }

  .overlay-effect {
    display: none;
  }

  .get_started {
    width: 900px;
    margin-top: 100px;
  }
  .get_started button {
    padding: 17px 20px;
    width: 200px;
  }
  .get_started button span {
    font-size: 1.1rem;
  }
  .platform_name span {
    font-size: 1.13rem;
    font-weight: 450;
    color: var(--dark-shade3);
  }

  .express_idea ul li p.dwn_txt {
    font-size: 3.2rem;
  }
}